<h1>Create Your Status</h1>

<%= form_with(model: [@lesson, @status]) do |f| %>
    
     <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <%= f.label :progress_level %> 
    <%= f.number_field :progress_level %><br><br>
    <%= f.label :interested_topics%>          
    <%= f.text_field :interested_topics %>
    <%= f.text_field :interested_topics %>
    <%= f.text_field :interested_topics %>

    <%= f.submit 'Submit' %>

<% end %>
